Repository arsham/lify, changes with the labels that .github/labeler.yml gives for each.
All labels: game, config, component, entity, system, scene, build, ui, ci

.github/labeler.yml:

game:
  - game/*
  - game/**/*

config:
  - internal/config/*
  - internal/config/**/*

component:
  - component/
  - component/**/*

entity:
  - entity/
  - entity/**/*

system:
  - system/
  - system/**/*

scene:
  - scene/
  - scene/**/*

build:
  - build/*
  - build/**/*

ui:
  - internal/ui/*
  - internal/ui/**/*

ci:
  - .github/*
  - .github/**/*

ref(main): correctly setup the new game
  bin/images/ant/ant.png
  game/game.go
  go.mod
  go.sum
  main.go
Labels: game

feat(system): add rendering system
  asset/asset.go
  asset/asset_string.go
  assets/images/herb1.png
  component/component.go
  entity/entity.go
  game/game.go
  main.go
  system/rendering.go
  system/system.go
Labels: game, component, entity, system

feat(system): handle user input and quit
  action/action.go
  action/name_string.go
  component/component.go
  game/game.go
  scene/play.go
  scene/scene.go
  system/system.go
  system/userinput.go
Labels: game, component, system, scene

feat(system): add grid system
  action/action.go
  component/component.go
  game/game.go
  scene/play.go
  system/grid.go
  system/system.go
Labels: game, component, system, scene

feat(system): add fps system
  action/action.go
  component/component.go
  game/game.go
  scene/play.go
  system/fps.go
Labels: game, component, system, scene

feat(system): add ant system
  component/component.go
  game/game.go
  scene/play.go
  system/ant.go
Labels: game, component, system, scene

feat(system): add movement system
  game/game.go
  system/movement.go
Labels: game, system

feat(system): add stats system
  component/component.go
  entity/entity.go
  game/game.go
  go.mod
  go.sum
  scene/play.go
  system/stats.go
Labels: game, component, entity, system, scene

feat(system): add lifespan system
  action/action.go
  component/component.go
  config.yaml
  entity/entity.go
  game/game.go
  scene/play.go
  system/ant.go
  system/lifespan.go
  system/rendering.go
Labels: game, component, entity, system, scene

feat(system): add boundingbox system
  action/action.go
  component/component.go
  entity/entity.go
  game/game.go
  scene/play.go
  system/ant.go
  system/boundingbox.go
Labels: game, component, entity, system, scene
