Repository arsham/lify, changes with the labels that .github/labeler.yml gives for each.
All labels: game, config, component, entity, system, scene, build, ai, ci

feat(system): add support for pause/resume
  action/action.go
  game/game.go
  scene/play.go
  system/position.go
Labels: game, system, scene

feat(system): add toggling textures
  action/action.go
  component/component.go
  scene/play.go
  system/rendering.go
Labels: component, system, scene

ref(system): remove movement system
  game/game.go
  system/movement.go
Labels: game, system

fix(position): recalculate bounds on resize
  system/position.go
Labels: system

ref!: replace pixel with ebiten
  action/action.go
  action/name_string.go
  asset/asset.go
  component/component.go
  entity/entity.go
  game/game.go
  go.mod
  go.sum
  main.go
  scene/play.go
  scene/scene.go
  system/ant.go
  system/boundingbox.go
  system/fps.go
  system/grid.go
  system/lifespan.go
  system/position.go
  system/rendering.go
  system/stats.go
  system/system.go
  system/userinput.go
Labels: game, component, entity, system, scene

feat(geom): add geometric primitives
  geom/pos.go
  geom/radian.go
  geom/rect.go
  geom/vec.go
Labels: none

ref(system): replace pixel's Vec with geom.Vec
  component/component.go
  go.mod
  go.sum
  scene/play.go
  system/ant.go
  system/boundingbox.go
  system/position.go
  system/rendering.go
Labels: component, system, scene

ref!: move most packages to the internal package
  assets/images/ant.png
  internal/action/action.go
  internal/action/name_string.go
  internal/asset/asset.go
  internal/asset/asset_string.go
  internal/component/component.go
  internal/entity/entity.go
  internal/game/game.go
  internal/geom/pos.go
  internal/geom/radian.go
  internal/geom/rect.go
  internal/geom/vec.go
  internal/scene/play.go
  internal/scene/scene.go
  internal/system/ant.go
  internal/system/boundingbox.go
  internal/system/grid.go
  internal/system/lifespan.go
  internal/system/position.go
  internal/system/rendering.go
  internal/system/stats.go
  internal/system/system.go
  main.go
Labels: none

feat(geom): add move Vec tools and tests
  internal/geom/radian.go
  internal/geom/vec.go
  internal/geom/vec_test.go
Labels: none

feat(geom): Eq, Moved, Rotated and tests for Rect
  internal/geom/rect.go
  internal/geom/rect_benchmark_test.go
  internal/geom/rect_test.go
Labels: none

feat(geom): add Matrix type
  internal/geom/matrix.go
  internal/geom/matrix_test.go
Labels: none

fix(system): correctly scale, move and rotate
  internal/geom/matrix.go
  internal/system/ant.go
  internal/system/boundingbox.go
  internal/system/rendering.go
Labels: none

test: refactor test names
  go.mod
  go.sum
  internal/geom/matrix_test.go
  internal/geom/rect_benchmark_test.go
  internal/geom/rect_test.go
  internal/geom/vec_test.go
Labels: none

ref(component): rename Collision to BoundingBox
  internal/component/component.go
  internal/game/game.go
  internal/geom/radian.go
  internal/system/ant.go
  internal/system/boundingbox.go
  internal/system/rendering.go
Labels: none

ci: fix workflow
  .github/workflows/integration.yml
  internal/geom/matrix_test.go
  internal/geom/radian.go
Labels: ci

add fruit spritesheet
  assets/images/food/fruits.png
Labels: none

.github/labeler.yml:

game:
  - game/*
  - game/**/*

config:
  - internal/config/*
  - internal/config/**/*

component:
  - component/
  - component/**/*

entity:
  - entity/
  - entity/**/*

system:
  - system/
  - system/**/*

scene:
  - scene/
  - scene/**/*

build:
  - build/*
  - build/**/*

ai:
  - internal/brain/*
  - internal/brain/**/*

ci:
  - .github/*
  - .github/**/*
